body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 20px;
    background: #066acd;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-app {
    max-width: 400px;
    margin: 20px auto;
  }
  
  #task-input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #category-dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

  }
  
  #add-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0d75ec;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
  }
  
  .task-item .category {
    font-weight: bold;
  }
  
  .task-item .actions {
    display: flex;
    gap: 10px;
  }
  .container{
    width: 40%;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}


